html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* .doodoo {
  position: fixed;
  z-index: -1;
} */

/* .container {
  width: 75%;
  background: #fff;
  margin: 2rem auto;
  padding: 5rem;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
} */
