html {
  height: 100%;
}

body {
  margin: 0;
  paddding: 0;
  display: flex;
  flex-flow: column;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Signika', sans-serif;
}

p {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.nav {
  display: flex;
  width: 100%;
}

.head {
  background-image: url("/lofi.png");
  background-size: cover;
  position: relative;
  height: 300px;
}

.headtext {
  background-color: white;
  color: black;
  font-size: 10vw;
  font-family: 'Signika', sans-serif;
  font-weight:100;
  letter-spacing: 20px;
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
  outline: 0.1em solid;
  outline-offset: -10px;
  /* outline: 0.7vw solid; */
  /* outline-offset: -1.2vw; */
}

.pages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Raleway', sans-serif;
  font-size: 2vw;
  text-align: center;
  flex-grow: 1;
}

.resume {
  background-color: rgb(150, 109, 80);
  padding-top: 20px;
  width: 100%;
  height: 100%;
}

.inside-resume {
  z-index: 1;
}

.doodoo {
  width: 100%;
  height: 100%;
  z-index: auto;
}

.projects {
  background-color: rgb(44, 213, 142);
  padding-top: 20px;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.about {
  background-color: rgb(62, 155, 230);
  padding-top: 20px;
  width: 100%;
  height: 100%;
}

.contact {
    background-color: rgb(224, 27, 100);
    padding-top: 20px;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 1000px) {
  div.headtext {
    font-size: 7vw;
    outline: 0.05em solid;
  }
}

@media screen and (max-width: 999px) and (min-width: 751px) {
  div.headtext {
    font-size: 7vw;
    outline: 0.08em solid;
  }
}

@media screen and (max-width: 750px) {
  div.headtext {
    font-size: 7vw;
  }
}
